.Dictionary section{
    background: white;
    color: #596C68;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    margin: 20px 0;
    background-color: rgba(255, 255, 255, .5);
        backdrop-filter: blur(4px);
}


.Dictionary input {
    width: 100%;
    padding: 6px 4px;
    border: 1px solid #ddd;
    color: #333;
    border-radius: 16px;
}

.Dictionary h1{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}